<h1>Welcome back <%= @fammember.name %></h1>

<h3> List of all previous transactions</h3>
<table>
  <thead>
    <tr>
      <th>Name of caregiver</th>
      <th>Patient Name</th>
      <th>Date of booking</th>
      <th>End of booking</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><@</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', root_path %>
